/*basic
    C0CAAD
    9DA9A0
    654C4F
    B26E63
    CEC075
*/
body
{
    background-color: #D4DF9E;
}

.sidenav
{
    background-color: #12100E;
}

aside
{
    background-color: #30321C;
    color:  #D4DF9E;
}

.sidenav a
{
    color: #dbf558;
}

.sidenav a:hover
{
    color: #dbf558;
}

#title
{
    color: #6B654B;
}

#side-h
{
    color: #6B654B;
}
.sidenav p 
{
    padding: 6px 8px 6px 16px;
    color: #D4DF9E;
}