.container-fluid
{
    padding: 0px;
}

body
{
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

.sidenav
{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 20%);
}

aside
{
    margin-top: 0px;
    padding: 25px;
    margin-left: 200px;
}

main
{
    margin-left: 200px;
    padding: 16px;
}

.sidenav a
{
    padding: 6px 8px 6px 16px;
    color: #D4DF9E;
    text-decoration: none;
}

.sidenav a:hover
{
    color: #D4DF9E;
    text-decoration: underline;
}

#title
{
    padding: 6px 8px 6px 16px;
    color: #6B654B;
}

#side-h
{
    padding: 6px 8px 6px 16px;
    color: #6B654B;
}

input:invalid 
{
    border: rgb(255, 46, 46) solid 1px;
}

.errormessage 
{
    text-align: center;
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container 
{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.container input 
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark
{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark 
{
    background-color: #ccc;
}
.container input:checked ~ .checkmark 
{
    background-color: #2196F3;
}

.checkmark:after 
{
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after 
{
    display: block;
}

.container .checkmark:after 
{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.iscomplete 
{
    border: #2196F3;
    border-width: 3px 3px 3px 3px;
    padding: 6px 8px 6px 16px;
}