{% extends "layout.html"%}

{% block title%}
    Log In
{% endblock %}

{% block main%}
    <div>
        <form action="/login" method="post">
            {% if invalid %}
                <div class="alert alert-danger alert-dismissible fade show mx-auto w-auto" role="alert">
                    <strong>Invalid login!</strong> Please check your username/password.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-warning alert-dismissible fade show mx-auto w-auto" role="alert">
                <strong>User register was sucessful!</strong> Please login.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
            <div>
                <input autofocus class="mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
            </div>
            <div>
                <input class="mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
            </div>
            <button class="btn btn-secondary" type="submit">Log In</button>
        </form>
    </div>
{% endblock%}